h3{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button-div{
    text-align: center;
}

.button-first{
    border-radius: 20px;
    border: none;
    background-color: #FBF0DF;
    width: 40%;
    font-size: 18px;
    margin-bottom: 5%;
}

.task-list-border{
    width: 90%;
    background-color: #FBF0DF;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    align-items: center;
}
p{
    width: 85%;
}
.task-list-border img,
.task-list-border p,
.task-list-border button {
  margin-right: 10px;
}
img{
    width: 40px;
    height: 40px;
}

.button-type{
    border: none;
    background: none;
}